{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Ashley Jieun Lee and Seoung Woo Son">
<title>Crime Map</title>
<!-- Bootstrap Core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Custom CSS -->
<link href="{% static 'css/theme.css' %}" rel="stylesheet">
<!-- Custom Fonts -->
<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
		<i class="fa fa-bars"></i>
		</button>
		<a class="navbar-brand page-scroll" href="base.html">STAYFE</a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
		<ul class="nav navbar-nav">
			<li>
			<a href="_intro.html">About Us</a>
			</li>
			<li>
			<a href="_content.html">Map</a>
			</li>
			<li>
			<a href="_contact.html">Contacts</a>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>
<!-- Intro Header -->
<header class="intro">
<div class="intro-body">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="brand-heading">Welcome to Crime Map</h1>
				<p class="intro-text">
					We present map featuring crime data that will keep you safe at anywhere at anytime
				</p>
				<a href="#single-project" class="btn btn-circle page-scroll">
				<i class="fa fa-angle-double-down animated"></i>
				</a>
			</div>
		</div>
	</div>
</div>
</header>
<!-- Project Details Section -->
<section id="single-project">
<div class="container content-section text-center">
	<div class="row">
		<h2>STEPS OF PROJECT</h2>
		<div class="col-lg-8 col-lg-offset-2">
			<p>Project overview... How we prepared data...How the website was built...</p>
		</div>
	</div>
</div>
</section>
<!-- jQuery -->
<script src="{% static 'js/jquery.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Plugin JavaScript -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<!-- Contact JavaScript -->
<script src="{% static 'js/validate.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'js/theme.js' %}"></script>
</body>
</html>
